%% -*- erlang -*-
{erl_opts, [debug_info, fail_on_warning, nowarn_export_all]}.

{pre_hooks,
 [
	{"(linux|darwin)", compile, "make -C c_src PROJECT=afunix_drv OUTPUT_OPTION=\"-DDLOG_DEFAULT=DLOG_NONE\""}
 ]}.

{post_hooks,
 [
	{"(linux|darwin)", clean, "make -C c_src clean"}
 ]}.

{profiles,
 [
  {test,
   [
    {pre_hooks,
     [
      {"(linux|darwin)", compile, "make -C test/afunix_api_SUITE_data PROJECT=afunix_api_SUITE"}
     ]},
    {post_hooks,
     [
      {"(linux|darwin)", clean, "make -C test/afunix_api_SUITE_data clean"}
     ]}
   ]}
 ]}.

{xref_checks,
 [
	undefined_function_calls, undefined_functions, locals_not_used,
	deprecated_function_calls, deprecated_functions
 ]}.

{dist_node,
 [
  {setcookie, 'afunixnode'},
  {sname, 'afunix'}
 ]}.
