%% -*- erlang -*-
{erl_opts, [debug_info, fail_on_warning, nowarn_export_all]}.

{plugins, [{pc, "1.10.0"}]}.
{port_env, [{"CFLAGS", "$CFLAGS -Wall -DDLOG_DEFAULT=DLOG_NONE"}]}.
{port_specs, [{"priv/afunix_drv.so", ["c_src/packet_parser.c", "c_src/afunix_drv.c"]}]}.
{so_name, "afunix_drv.so"}.
{artifacts, ["priv/afunix_drv.so"]}.
{provider_hooks, [{pre,[{compile, {pc, compile}}, {clean, {pc, clean}}]}]}.

{profiles,
 [
  {test,
   [
    {pre_hooks,
     [
      {"(linux|darwin)", compile, "make -C test/afunix_api_SUITE_data PROJECT=afunix_api_SUITE"}
     ]},
    {post_hooks,
     [
      {"(linux|darwin)", clean, "make -C test/afunix_api_SUITE_data clean"}
     ]}
   ]}
 ]}.

{xref_checks,
 [
	undefined_function_calls, undefined_functions, locals_not_used,
	deprecated_function_calls, deprecated_functions
 ]}.

{dist_node,
 [
  {setcookie, 'afunixnode'},
  {sname, 'afunix'}
 ]}.
