%% -*- erlang -*-
%% Config file for afunix-application
{erl_opts, [debug_info]}.
{plugins, [
  { pc, {git, "git://github.com:blt/port_compiler.git", {tag, "v1.6.0"}}}
 ]}.

%% change -DDLOG_DEFAULT=DLOG_DEBUG
{port_env, [{"CFLAGS", "$CFLAGS -Wall -DDLOG_DEFAULT=DLOG_NONE"}]}.
{port_specs, [{"priv/afunix_drv.so",
               ["c_src/packet_parser.c", "c_src/afunix_drv.c"]}]}.
{so_name, "afunix_drv.so"}.
{artifacts, ["priv/afunix_drv.so"]}.
{provider_hooks, [{pre,[{compile, {pc, compile}}, {clean, {pc, clean}}]}]}.

{ct_extra_params, "-suite test/afunix_api_SUITE -erl_args -name ct"}.
%% You can also run ct from the test dir using:
%% ct_run -suite afunix_api_SUITE -erl_args -sname ct
%% ct_run -suite afunix_echo_SUITE -erl_args -sname ct
